<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
      </button>
      <a href="products" class="navbar-brand" routerLink="/products">KRAINA GRZYBÓW</a>
    </div>
    <a href="payments" class="navbar-brand" routerLink="/payment">MY PAYMENTS</a>

  </div>
</header>
<body>
  <router-outlet></router-outlet>
</body>


